
{% extends 'baseUser.html.twig' %}

{% block title %}home |{{ parent() }}{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/ajouterProduits.css') }}">
 {% endblock %}

{% block main %}
    {% if is_granted('ROLE_USER') %}
        <div id="infoposition">POSITION</div>
        <script>
            function maPosition(position) {
                var infopos = "Position déterminée :\n";
                infopos += "Latitude : "+position.coords.latitude +"\n";
                infopos += "Longitude: "+position.coords.longitude+"\n";
                infopos += "Altitude : "+position.coords.altitude +"\n";
                document.getElementById("infoposition").innerHTML = infopos;
            }

            if(navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(maPosition);}
            // Fonction de callback en cas de succès
            function surveillePosition(position) {
                var infopos = "Position déterminée :\n";
                infopos += "Latitude : "+position.coords.latitude +"\n";
                infopos += "Longitude: "+position.coords.longitude+"\n";
                infopos += "Altitude : "+position.coords.altitude +"\n";
                infopos += "Vitesse  : "+position.coords.speed +"\n";
                document.getElementById("infoposition").innerHTML = infopos;
            }

            // On déclare la variable survId afin de pouvoir par la suite annuler le suivi de la position
            //var survId = navigator.geolocation.watchPosition(surveillePosition);
            // Fonction de callback en cas d’erreur
            function erreurPosition(error) {
                var info = "Erreur lors de la géolocalisation : ";
                switch(error.code) {
                    case error.TIMEOUT:
                        info += "Timeout !";
                        break;
                    case error.PERMISSION_DENIED:
                        info += "Vous n’avez pas donné la permission";
                        break;
                    case error.POSITION_UNAVAILABLE:
                        info += "La position n’a pu être déterminée";
                        break;
                    case error.UNKNOWN_ERROR:
                        info += "Erreur inconnue";
                        break;
                }
            }
            //document.getElementById("infoposition").innerHTML = info;
        </script>
    {% endif %}
{% endblock %}